/*--Universal Styling--*/
    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}
    /*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    font-size: 16px;
    font-family: "Oswald", Helvetica, sans-serif;
}    
body p {
    color: #0d3e5f
}

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer';
}

.app > header {
    grid-area: header;
}

.app > nav {
    grid-area: nav;
    min-width: 100%;
}

.app > main {
    grid-area: main;
    padding: 1px 5px 10px 5px;
}

.app > footer {
    grid-area: footer;
}


/*--Header Styling--*/
header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
	background-color: #0d3e5f;
	display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: .5fr 1fr .5fr auto;
    text-align: center;
	padding: .75rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#banner {
    display: none;
}

header img {
    max-width: 4rem;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    margin: .25rem;
}

header h1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: #f1cf25;
	font-size: 1.1rem;
    text-align: center;
}

#date {
    color: #fff;
    grid-column: 1 / 4;
}

#banner {
    display: none;
    color: #fff;
}

/*--Social Media Icons--*/
.socialMedia {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin: .5rem;
    text-align: right;
}

     
    /*--Hover Effect--*/
.twitter {
    border-radius: 50%;    
}


/*--Nav Styling--*/
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
}
nav {
    background-color: #555;
    margin: 0 auto .25rem auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);
    background: linear-gradient(90deg, transparent, #f1cf25, transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.5s;
}  

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*--Footer Styling--*/
.footer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    background-color: #0d3e5f;
    box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.3), 8px 6px 20px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: #fff;
}

.footer p {
    color: #fff;
    font-size: .90rem;
}

.footer h3 {
    font-size: .90rem;
}

.footer img {
    max-width: 6rem;
    margin: .5rem;
}

.address {
    margin: .7rem;
}

.contactInfo {
    margin: .7rem;
    padding: .5rem;
}

.contactInfo img {
    margin: 0rem;
    padding: 0rem;
    max-width: 20px;
}

.lastUpdated {
    margin: .7rem;
    padding: .5rem;
    border-top: 1px solid rgba(255, 255, 255, .7);
}

.footer a {
    text-decoration: none;
}

/*--Main Styling--*/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: .5rem;
}

figure {
    margin:0px;
    max-width: 100%;
}

.hero-carousel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "current" "next";
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-color: #0d3e5f;
    margin: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-photo {
    width:  100%;
}

.hero-photo img {
     width: 100%
}
.slide {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: lightgray;
    max-height: 300px;
    width: 100%;
    position: relative;
}
  
.slide img {
    max-height: 300px;
    min-height: 300px;
    width: 100%;
    object-fit: cover;
}
  
.slide h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: .9rem;
    margin: 0;
    padding: 0;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #0d3e5f;
}
  
.overlay-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #0d3e5f;
    color: #fff;
    font-size: .8rem;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #f1cf25;
    text-decoration: none;
}
  
.dots-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: left;
    width: 100%;
}
  
.dot {
    height: 15px;
    width: 15px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #f1cf25;
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
  
.dot.active {
    background-color: #0d3e5f;
}
.event {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;    
    overflow: hidden;
    position: relative;
}

.event p, .event h1, .event h2, .event h3 {
    color: #fff;
    margin: .5rem;
    padding: .2rem;
}

.events {
    display: flex;
    border-style: solid;
    border-color: #0d3e5f;
    align-items: center;
    margin: .5rem;
    color: #fff;
    justify-content: center;
    background-color: #0d3e5f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-link {
    background-color: #0d3e5f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(241, 207, 37);
    text-decoration: none;
}

.weather {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    border-style: solid;
    border-width: 1px;
    border-color: #0d3e5f;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather h2, .weather h1 {
    color: #0d3e5f;
}

.weather-top {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.weather-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: left;
    border-radius: 15%;
}

.weather-temp {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: right;
}

.weather-type {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    text-align: center;
    border-style: none none solid none;
    border-width: 1px;
}

.weather-wind {
    grid-column: 1 / 3;
    grid-row: 4 / 4;
}

.weather-chill {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.newsRelease {
    border-style: solid;
    border-width: 1px;
    border-color: #0d3e5f;
    padding: .5rem;
    margin: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsRelease h2 {
    color: #0d3e5f;
}

.spotlight {
    grid-row: 5 / 7;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-style: solid;
    border-color: #0d3e5f;
    background-color: #0d3e5f;
    text-align: center;
    justify-content: center;
    padding: .5rem;
    margin: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spotlight h2 {
    color: #0d3e5f;
}

.spotlight1, .spotlight2, .spotlight3 {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: #fff;
    width: 100%;
    padding: .5rem;
    margin: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spotlight1 {
    grid-row: 1 / 2;
}

.spotlight2 {
    grid-row: 2 / 3;
}

.spotlight3 {
    display: none;
}

.join {
    display: none;
    background-color: #0d3e5f;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.join p {
    color: #fff;
    align-items: center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding:  10px;
}

/*--end base--*/






